body {
    margin: 0px;
    background-color: #b8e6e5;
    text-align: center;
    
}
.h {
    position: relative;
    top: 10px;
    width: 100%;
    margin: 0 auto 0 auto;
    font-family: "Sacramento", cursive;
    font-weight: 800;
    font-size: 687.5%;
}

p {
    font-family: "Kiwi Maru", serif;
    font-size: 20px;
    line-height: 2;

}

h1 {
    color: #3f9191;
}
.carear-color {
    color: #D74B76;
}
.top-container {
    
    margin: 0px;
}

.img{
    max-width:100%;
    max-height: 100%;
    position: relative;
    top: 20px;
}

.cloud1-pos {
    position: absolute;
    left: 500px;
    top: 170px;
}

.cloud2-pos {
    position: absolute;
    left: 1500px;
    
}

.cloud3-pos {
    max-width: 60%;
    max-height: 50%;
    position: absolute;
    left: 15%;
    top: 13%; 
}

.cloud4-pos {
    max-width: 32%;
    max-height: 20%;
    position: absolute;
    right: 5%;
    top: 10%; 
}

.text-align {
    text-align: center;
}

.text-underlined {
    text-decoration: underline;
  }

.bottom-container {
    margin: 0;
    background-color: antiquewhite;
}

.footer-link {
    margin: 3px;
}

.footer-img {
    width: 48px;
    height: 48px;
    /*filter: blur(0px);/*  تنظیم میزان تاری اولیه */
    /*transition: filter 0.5s; /* اعمال انیمیشن تغییر فیلتر */
    transition: transform 0.5s;
}

.profile-img {
    width: 13%;
    margin: 30px;
 
}

.elemnt-img {
    width: 30%;
    margin: auto;
}

h2 {
    font-family: "Edu NSW ACT Foundation", cursive;
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 0;
}

h3 {
    font-family: "Edu NSW ACT Foundation", cursive;
    /* font-size: 50px; */
}

.last-tip {
    font-family: "Kiwi Maru", serif;
    font-size: 12px;
    margin-bottom: 0;
    margin-top: 0;
    filter: blur(2px);/*  تنظیم میزان تاری اولیه */
    transition: filter 0.5s; /* اعمال انیمیشن تغییر فیلتر */
}

.last-tip:hover {
    filter:blur(0px);
}

.lightning  {
    color: #D74B76;
    
}

.skill-row {
    margin: 20px auto;
    width: 70%;
    text-align: left;
}
.footer-img:hover {
    /* filter:blur(5px); */
    transform: scale(1.2);
}

.linux {
    float: left;
    padding-right: 30px;
    margin: auto;
    padding-bottom: 20px;
    position: relative;
    top: 30px;
}
 hr {
    display:block;
    border-style: dotted none none;
    color: #3f9191;
    width: 20%;
    border-width: 6px;
    margin: 100px auto;
}

.contact-me{
    padding: 30px;
}

.decr {
    font-size: 15px;
}

.copyrght {
    margin: 10px auto 0;
}

.circle-list {
    list-style-type: circle;
    margin: 0 300px;
    font-family: "Kiwi Maru", serif;
    font-size: 15px;
}

.disc-list {
    list-style-type: disc;
    font-family: "Kiwi Maru", serif;
    font-size: 17px;
}
